main {
  background: Linen;
}

.plate {
  background-color:/;
  border: ;
  margin: 10px;
}
#container {
  background-image: url(https://raoulkramer.de/content/images/size/w2000/2021/03/alexandru-tudorache-JdjdIjzJl94-unsplash.jpg);
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}
#title {
  grid-area: 1/3/span 1/span 2; 
  padding-left: 40px;
}
#greeting {
  grid-area: 2/3/span 1/span 2;
   padding-left: 40px;
}
#links {
  grid-area: 2/2/span 1/ span 1;
}
#bio {
  grid-area: 4/1/span 1/ span 3;
}
#bio p {
  color: black;
  padding: 10px 20px 10px 20px;
}
#image {
  grid-area: 1 / 1 / span 3/ span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}
#image img {
  min-width: 20%;
  min-height: 30%;
  position: relative;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  overflow: hidden;
}

#exp-left {
  grid-area: 5/1/span 2/ span 1;
}
#exp-center {
  grid-area: 5/2/span 2/ span 1;
}
#exp-right {
  grid-area: 5/3/span 2/ span 1;
}

h1{
  margin:30;
  color: #444;
  font-weight: 600;
  font-family: 'cursive';
}
h3{
  margin:20;
  color: #444;
}
body {
  margin:30;
  font-family: system-ui;
  background: #FAFAD2;
  color: black;
}
h1,{
  hight:50px;
  width:200px;
  padding:10px 
}
.social img {
  width: 40px;
}







